<lite-ng-tabs-horizontal extraClass="social-tabs"
    [isSetOfDrawers]="false"
    [(activeTabIndex)]="activeTabIndex"
    (activeTabIndexChange)="onActiveTabIndexChanged(activeTabIndex)"
>
    <span role="header">
        <lite-ng-tab-button>Friends</lite-ng-tab-button>
        <lite-ng-tab-button>Parties</lite-ng-tab-button>
        <lite-ng-tab-button>Messages</lite-ng-tab-button>
    </span>
    <span role="body">
        <lite-ng-tab>
            <table style="width:100%; height:100%;"><tr>
                <td class="firends-list-container">
                    <!-- The list -->
                    <lite-ng-list
                        [items]="firends"
                        [(selectedItem)]="selectedFriend"
                        noDataMessage="No friends :("
                        [iconFunction]="friendIconFunction"
                        [iconOverlayFunction]="friendIconOverlayFunction"
                        [titleFunction]="friendTitleFunction"
                        [descriptionFunction]="friendDscriptionFunction"
                        (onSelectionChanged)="friendSelectionChanged($event)"
                    ></lite-ng-list>

                    <!-- The controls -->
                    <div class="spacer"></div>
                    <lite-ng-pushbutton additionalClass="friends-list-button" text="Find a friend" (onClick)="onFindFriendButtonClick()"></lite-ng-pushbutton>
                    <div class="spacer"></div>
                    <lite-ng-pushbutton additionalClass="friends-list-button" text="Remove selected"></lite-ng-pushbutton>
                </td>
                <td class="friend-chat-container-td" style="vertical-align:top;">
                    <div class="friend-chat-container thin-scrollbars">
                        <div style="width:100%">
                            <div *ngFor="let request of unattendedFriendRequests"
                                 class="user-friend-request"
                            >
                                <table style="width:100%"><tr>
                                    <td class="user-friend-request-icon-td">
                                        <img src="{{ getFriendIconSrc(request) }}" class="user-friend-request-icon">
                                    </td>
                                    <td>
                                        <span class="user-friend-request-title">Friend request: {{ request.nickName }}</span><br />
                                        <span class="user-friend-request-body">{{ request.nickName }} has sent you a friend request</span>
                                    </td>
                                    <td>
                                        <div class="user-friend-request-button user-friend-reuest-button-accept" (click)="acceptFriendRequest(request)">Accept</div>
                                        <div class="user-friend-request-button user-friend-reuest-button-reject" (click)="rejectFriendRequest(request)">Reject</div>
                                    </td>
                                </tr></table>
                            </div>
                        </div>
                        <div style="width:100%">
                            <div *ngIf="selectedFriend"
                                class="social-chat-status"
                                [class.online]="selectedFriend?.isOnline"
                                [class.offline]="!(selectedFriend?.isOnline)"
                            >
                                <span *ngIf="selectedFriend?.isOnline">
                                    {{ selectedFriend?.nickName }} is online and able to receive chat messages
                                </span>
                                <span *ngIf="!(selectedFriend?.isOnline)">
                                    {{ selectedFriend?.nickName }} is offline and will be unable to respond right away
                                </span>
                            </div>
                        </div>
                        <div
                            class="scrolling-chat-window"
                            *ngIf="selectedChatPartyChannelUniqueToken"
                        >
                            <div class="scrolling-chat-window-message"
                                *ngFor="let chatMessage of selectedChatMessagesWindow"
                            >
                                <div
                                    class="scrolling-chat-window-balloon"
                                    [class.current-user-ballon]="isCurrentUser(chatMessage.fromUserUniqueToken)"
                                >
                                    <span class="nickname-row">
                                        {{userTokenToNickName(chatMessage.fromUserUniqueToken)}}
                                    </span>
                                    <br />
                                    <span class="message-row">
                                        {{ chatMessage.message }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="chat-message-entry-form">
                            <lite-ng-text-field
                                [(value)]="newChatMessage"
                                placeholder="Enter chat message"
                                [widthPCT]="100"
                                (keyUpEvent)="onNewChatMessageFieldKeyUp($event)"
                            ></lite-ng-text-field>
                        </div>
                    </div>
                </td>
            </tr></table>
        </lite-ng-tab>
        <lite-ng-tab>
            parties
        </lite-ng-tab>
        <lite-ng-tab>
            messages
        </lite-ng-tab>
    </span>
    <span role="footer">
        <lite-ng-pushbutton [widthPX]="100" text="Back to Main" (onClick)="navigation.navigateToMain()"></lite-ng-pushbutton>
    </span>
</lite-ng-tabs-horizontal>



<!-- Friend search dialog -->
<lite-ng-dialog
    title="Search for friend"
    [heightPX]="150"
    okButtonText="Search"
    [showEvent]="friendSearchDialigShowEvent"
    [hideEvent]="friendSearchDialigHideEvent"
    [externalValidationMessageEvent]="friendSearchDialogExternalValidationMessageEvent"
    [showOkButton]="false"
    [customButtons]="searchFriendDialogCustomButtons"
>
    Enter the nick name and press "Search"
    <lite-ng-text-field [(value)]="soughtFriendNickName" [widthPCT]="100"></lite-ng-text-field>
</lite-ng-dialog>